<section class="map-page">

  <h1>Mapa Amamanta</h1>

  <div class="map-wrapper">

   <div class="filters">

  <button
    [class.active]="selectedType === 'all'"
    (click)="changeFilter('all')">
    Todos
  </button>

  <button
    [class.active]="selectedType === 'lactation_room'"
    (click)="changeFilter('lactation_room')">
    Salas en universidades
  </button>

  <button
    [class.active]="selectedType === 'friendly_space'"
    (click)="changeFilter('friendly_space')">
    Espacios amigos
  </button>
  <button
  [class.active]="selectedType === 'workshop'"
  (click)="changeFilter('workshop')">
  Talleres
</button>

  <button
  (click)="locateUser()">
  📍 Mi ubicación
</button>

</div>

    <google-map
    #googleMap
      height="600px"
      width="100%"
      [center]="center"
      [zoom]="zoom"
      [options]="mapOptions"
      mapId="DEMO_MAP_ID">

      @for (marker of markers; track marker.title) {
        <map-advanced-marker
          [position]="marker.position"
          [title]="marker.title"
          [content]="marker.content"
          (mapClick)="selectResource(marker.resource)">
        </map-advanced-marker>
      }

      @if (userPosition && userMarkerContent) {
  <map-advanced-marker
    [position]="userPosition"
    [content]="userMarkerContent"
    title="Tu ubicación">
  </map-advanced-marker>
}

    </google-map>

    @if (selectedResource) {
      <article class="resource-card">
        <button class="close-button" (click)="closeCard()">✕</button>

        <h2>{{ selectedResource.name }}</h2>

        <p class="address">
          {{ selectedResource.address }}
        </p>

        @if (routeInfo) {
  <p class="route-info">
    🚗 {{ routeInfo.duration }} · 📍 {{ routeInfo.distance }}
  </p>
}

        <p class="description">
          {{ selectedResource.description }}
        </p>

       <div class="card-actions">

  <button
    class="primary-button"
    (click)="navigateToResource()">
    Ver ruta
  </button>

</div>

@if (routeInfo) {

  <div class="external-navigation">

    <p>Abrir en</p>

    <button
      class="map-button google-button"
      (click)="openGoogleMaps()">
      Google Maps
    </button>

    <button
      class="map-button apple-button"
      (click)="openAppleMaps()">
      Apple Maps
    </button>

  </div>

}
      </article>
    }

  </div>

</section>
