<footer class="app-footer">
  <img src="/logo-amamanta.png" alt="Logo Amamanta" class="app-footer__logo" />

  <p class="app-footer__title">Amamanta</p>

  <p class="app-footer__subtitle">Grupo de apoyo a la lactancia materna</p>

  <div class="app-footer__socials">
    <a href="https://www.facebook.com/AMAMANTA?fref=ts" target="_blank">
      <iconify-icon icon="mdi:facebook"></iconify-icon>
    </a>

    <a href="https://www.instagram.com/amamanta_oficial/" target="_blank">
      <iconify-icon icon="mdi:instagram"></iconify-icon>
    </a>

    <a href="https://twitter.com/Amamanta_" target="_blank">
      <iconify-icon icon="mdi:twitter"></iconify-icon>
    </a>

    <a href="https://www.youtube.com/c/AmamantaTV" target="_blank">
      <iconify-icon icon="mdi:youtube"></iconify-icon>
    </a>
  </div>

  <p class="app-footer__copyright">© {{ currentYear }} Amamanta</p>
</footer>
